#pic1{
    width:100px;
    height:100px;
    border-radius:10px;
}
#name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
#email{
    font-family:Arial, Helvetica, sans-serif;
}
#p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:green;
}
#t1{
    border: 1px solid;
}
#t1,td{
    border: 1px solid;
    border-collapse: collapse;
}
body{
    background-color: goldenrod;
}
